# List Functons
all ()
any()
enumarate()
len()
list()
max()
sum()

# all()

In [3]:
s = [1,2,3,4]
print(all(s))

True

In [4]:
s = [1,2,3,4,0]
print(all(s))

False

In [5]:
s = [0,1]
print(all(s))

False

In [6]:
s = [0]
print(all(s))

False

In [7]:
s = [False]
print(all(s))

False

In [8]:
s = [0,False]
print(all(s))

False

In [9]:
s = [1,2,True]
print(all(s))

True

In [10]:
s = [0,False,5]
print(all(s))

False

In [11]:
s = []
print(all(s))

True

# any()

In [12]:
s = [1,2,3,4]
print(any(s))

True

In [13]:
s = [1,2,3,False]
print(any(s))

True

In [14]:
s = [1,2,3,0]
print(any(s))

True

In [15]:
s = [0]
print(any(s))

False

In [16]:
s = [False]
print(any(s))

False

In [17]:
s = [0,False]
print(any(s))

False

In [18]:
s = [0,False,5]
print(any(s))

True

In [19]:
s = []
print(any(s))

False

In [30]:
Data = ['Big Data','Machine Learning','Haddop','Spark']
eData = enumerate(Data)
print(type(eData))
print(eData)
#print('eData[2]:',eData[2])
print(list(eData))

<class 'enumerate'>
<enumerate object at 0x05846EE0>
[(0, 'Big Data'), (1, 'Machine Learning'), (2, 'Haddop'), (3, 'Spark')]

In [23]:
Data = ['Big Data','Machine Learning','Haddop','Spark']
eData = enumerate(Data,500)
print(type(eData))
print(eData)
print(list(eData))

<class 'enumerate'>
<enumerate object at 0x05819D50>
[(500, 'Big Data'), (501, 'Machine Learning'), (502, 'Haddop'), (503, 'Spark')]

In [24]:
Data = ['Big Data','Machine Learning','Haddop','Spark']

for data in enumerate(Data): #for loop Dont requied to convert enum to list
    print(data)#bydefault it print in the form of tuple

(0, 'Big Data')
(1, 'Machine Learning')
(2, 'Haddop')
(3, 'Spark')

In [25]:
#to print output in the form list
Data = ['Big Data','Machine Learning','Haddop','Spark']

for data in enumerate(Data): #for loop Dont requied to convert enum to list
    print(list(data))

[0, 'Big Data']
[1, 'Machine Learning']
[2, 'Haddop']
[3, 'Spark']

In [31]:
Data = ['Big Data','Machine Learning','Haddop','Spark']

for data in enumerate(Data,500): #now indexinx start from 500
    print(data)
    
#print(data[])

(500, 'Big Data')
(501, 'Machine Learning')
(502, 'Haddop')
(503, 'Spark')

In [32]:
Data = ['Big Data','Machine Learning','Haddop','Spark']

for data in enumerate(Data,500): #now indexinx start from 500
    print(list(data))

[500, 'Big Data']
[501, 'Machine Learning']
[502, 'Haddop']
[503, 'Spark']

In [33]:
Data = ['Big Data','Machine Learning','Haddop','Spark']

for indx,data in enumerate(Data,500): #now indexinx start from 500
    print(indx,data)

500 Big Data
501 Machine Learning
502 Haddop
503 Spark

# len()
Finding the length of list

In [34]:
PyList = [1,2,3,4,5]
print(len(PyList))

5

# list()
Converting to List Data type

In [39]:
PyStr = "PYTHON"

print(PyStr)
print(type(PyStr))

PyList = list(PyStr)

print(PyList)
print(type(PyList))

PYTHON
<class 'str'>
['P', 'Y', 'T', 'H', 'O', 'N']
<class 'list'>

# max()
It is used to display max character based on ascii or Unicode value

In [42]:
print(max([1,2,3,4]))

4

In [45]:
print(max(['a',"b",'c','D']))

c

# min() 
It is used to display max character based on ascii or Unicode value

In [46]:
print(min([1,2,3,4]))
print(min(['a',"b",'c','D']))

1
D

# sum() 
It is used to sum of all values in the list NOTE: only for numerical values

In [48]:
print(sum([1,2,3,4]))

10