In [ ]:
#type conversion in python
# Syntax: int(string,base) where string :consists of 1's or 0's & base: base of num  
print(int(123))

In [ ]:
print(int("0011",2))

In [ ]:
print(int('111',2))

In [ ]:
print(int(001,2))

In [ ]:
print(int("001",2))

In [ ]:
print(int(111,2))

In [ ]:
print(int('12',8))

In [ ]:
print(int('111',8))

In [ ]:
print(int("128",8))

In [ ]:
print(int('23',8))

In [ ]:
print(oct(19))

In [ ]:
print(int('23',16))

In [ ]:
print(hex(35))

In [ ]:
print(int('d3',16))

In [ ]:
print(hex(211))

In [ ]:
print(bin(211))

In [ ]:
#ValueError: int() base must be >= 2 and <= 36, or 0
p='123'
 
print(int('123',2))

<h1 style="color:Red">bool type conversion</h1>

In [ ]:
PyInt = 1
print(PyInt)
print(type(PyInt))

In [ ]:
PyBool = bool(PyInt)
print(PyBool)
print(type(PyBool))

In [ ]:
print(PyBool)

In [ ]:
print(bool(0))
print(bool(0.0))
print(bool(None))
print(bool(False))
print(bool([]))
print(bool(()))
print(bool({}))
print(bool(''))

In [ ]:
PyList = []
print(bool(PyList))

In [ ]:
print(bool(123))
print(bool('Python'))
print(bool([1,55,'m',85]))
print(bool((123)))
print((bool({123})))
print(bool(True))

<h1 style="color:Red">float type conversion</h1>

In [ ]:
#syntax float(value)

In [ ]:
a=10
print(a)
print(type(a))

In [ ]:
f=float(a)
print(f)
print(type(f))

In [ ]:
#Syntax str()
s=133
print(s)
print(type(s))

In [ ]:
s2=str(s)
print(s2)
print(type(s2))

In [ ]:
#list syntax list()

In [ ]:
PyList='12345'
print(PyList)
print(type(PyList))

In [ ]:
list1 = list(PyList)
print(list1)
print(type(list1))

In [ ]:
PyTuple=1597
print(PyTuple)
print(type(PyTuple))

In [ ]:
PyList=tuple(PyTuple)
print(PyList)
print(type(PyList))

In [6]:
#to convert into set use set()
Py='123454'
print(Py)
print(type(Py))

123454
<class 'str'>

In [7]:
PyTuple=set(Py)
print(PyTuple)
print(type(PyTuple))

{'1', '3', '5', '4', '2'}
<class 'set'>

In [13]:
dipali=((1,"ANU"),(2,"DIPU"),(3,"BUBBLY"),(4,"ANU"),(4,"NAINA"))
print(dipali)
print(type(dipali))

((1, 'ANU'), (2, 'DIPU'), (3, 'BUBBLY'), (4, 'ANU'), (4, 'NAINA'))
<class 'tuple'>

In [14]:
pyDICT=dict(dipali)
print(pyDICT)
print(type(pyDICT))

{1: 'ANU', 2: 'DIPU', 3: 'BUBBLY', 4: 'NAINA'}
<class 'dict'>

In [16]:
print(ord("เคน"))

2361

In [17]:
print(ord("A"))

65

In [18]:
print(ord('a'))

97

In [20]:
print(ord(" "))

32

In [21]:
print(ord("$"))

36

In [24]:
print(chr(65))

A

In [25]:
print(chr(66))

B

In [26]:
print(chr(98))

b

In [27]:
print(chr(50))

2

In [29]:
print(chr(32)) #32 ascii for space

In [30]:
print(chr(36))

$

In [31]:
PYINT=1
print(PYINT)
print(type(PYINT))

1
<class 'int'>

In [32]:
p=complex(PYINT)
print(p)
print(type(p))

(1+0j)
<class 'complex'>

In [34]:
print(complex(12.20,5))

(12.2+5j)

In [35]:
print(complex(10,-0))

(10+0j)

In [46]:
#String Formating in PYTHON
#int num=10;
#printf("%d",num);
a=10
b=20

print("Add=%d,and Sub=%d"%(a+b,a-b))
print("sub=%d"%(a-b))
print("mul=%d"%(a*b))

Add=30,and Sub=-10
sub=-10
mul=200

In [45]:
print("HI I'm %s"%('Pramod'))

HI I'm Pramod

In [51]:
print("HI I'm %s and my city name is %s and my Age is %d and my Height is %.2f"%('Pramod',"Jalna",28,5.6
    ))

HI I'm Pramod and my city name is Jalna and my Age is 28 and my Height is 5.60

In [59]:
print("Hex num = %x"%(0xdc))

Hex num = dc

In [64]:
print("Hi, I'm {0} and my Husnband Name is {2} and we love each other too much...!{1}".format("Jaya",'LOVE U',"Raj"))

Hi, I'm Darshna and my Husnband Name is Raj and we love each other too much...!LOVE U

In [65]:
print(abs(-12))

12

In [69]:
import math as m
print(m.ceil(12.3))

13

In [70]:
print(m.ceil(12.4))

13

In [71]:
print(m.ceil(12.5))

13

In [72]:
print(m.ceil(12.6))

13

In [73]:
#hece math.ceil() method converts lower to higher numeric values

In [74]:
print(m.floor(12.3))

12

In [75]:
print(m.floor(12.4))

12

In [76]:
print(m.floor(12.5))

12

In [77]:
print(m.floor(12.6))

12

In [80]:
#fabs() method returns floting point absolute number
print(m.fabs(-100))

100.0

In [7]:
#math.factorial
import math
print("Factorial of 4: ",math.factorial(4))

print("\nFactorial of 3: ",math.factorial(3))

print("\nFactorial of 6: ",math.factorial(6))

Factorial of 4:  24

Factorial of 3:  6

Factorial of 6:  720

In [14]:
#math.fsum(iterabble)
PyList = [1,2,3,4,5]

print(math.fsum(PyList))
print("\n")
print(math.fsum((2,5,9)))
print("\n")
print(math.fsum({5,3,1,10}))

15.0


16.0


19.0

In [39]:
#math.pow(x,y)=x^y method
print("2^3: ",pow(2,3))
print("2^2: ",pow(2,2))
print("2**2: ",2**2)

2^3:  8
2^2:  4
2**2:  4

In [30]:
#round(x) function
print(round(199.23,1))
print(round(199.233,2))
print(round(199.238,2))
print(round(199.23525,4))

199.2
199.23
199.24
199.2353

In [26]:
#math.sqrt() method
print(math.sqrt(81))
print(math.sqrt(8))
print(round(math.sqrt(8),2))

9.0
2.8284271247461903
2.83

In [38]:
#a,b=math.frexp(8)
#print(a,"_____________",b)

0.5 _____________ 4