# Tuple Functons
all ()
any()
enumarate()
len()
list()
max()
sum()

# all()

In [1]:
s = (1,2,3,4)
print(all(s))

True

In [3]:
s = (1,2,3,4,0)
print(all(s))

False

In [4]:
s = (0,1)
print(all(s))

False

In [7]:
s = (0)#TypeError: 'int' object is not iterable
s = (0,)
print(all(s))

False

In [9]:
s = (False) #TypeError: 'bool' object is not iterable
s = (False,)
print(all(s))

False

In [10]:
s = (0,False)
print(all(s))

False

In [11]:
s = (1,2,True)
print(all(s))

True

In [12]:
s = (0,False,5)
print(all(s))

False

In [14]:
s = ()
print(all(s))

True

# any()

In [15]:
s = (1,2,3,4)
print(any(s))

True

In [16]:
s = (1,2,3,False)
print(any(s))

True

In [17]:
s = (1,2,3,0)
print(any(s))

True

In [18]:
s = (0,)
print(any(s))

False

In [19]:
s = (False,)
print(any(s))

False

In [20]:
s = (0,False)
print(any(s))

False

In [21]:
s = (0,False,5)
print(any(s))

True

In [22]:
s = ()
print(any(s))

False

# Enumerate

In [24]:
Data = ('Big Data','Machine Learning','Haddop','Spark')
eData = enumerate(Data)
print(type(eData))
print(eData)
#print('eData[2]:',eData[2])
print(tuple(eData))

<class 'enumerate'>
<enumerate object at 0x03633300>
((0, 'Big Data'), (1, 'Machine Learning'), (2, 'Haddop'), (3, 'Spark'))

In [25]:
Data = ('Big Data','Machine Learning','Haddop','Spark')
eData = enumerate(Data,500)
print(type(eData))
print(eData)
print(tuple(eData))

<class 'enumerate'>
<enumerate object at 0x0362AD50>
((500, 'Big Data'), (501, 'Machine Learning'), (502, 'Haddop'), (503, 'Spark'))

In [26]:
Data = ('Big Data','Machine Learning','Haddop','Spark')

for data in enumerate(Data): #for loop Dont requied to convert enum to list
    print(data)#bydefault it print in the form of tuple

(0, 'Big Data')
(1, 'Machine Learning')
(2, 'Haddop')
(3, 'Spark')

In [27]:
#to print output in the form list
Data = ('Big Data','Machine Learning','Haddop','Spark')

for data in enumerate(Data): #for loop Dont requied to convert enum to list
    print(list(data))

[0, 'Big Data']
[1, 'Machine Learning']
[2, 'Haddop']
[3, 'Spark']

In [28]:
Data = ('Big Data','Machine Learning','Haddop','Spark')

for data in enumerate(Data,500): #now indexinx start from 500
    print(data)
    
#print(data[])

(500, 'Big Data')
(501, 'Machine Learning')
(502, 'Haddop')
(503, 'Spark')

In [29]:
Data = ('Big Data','Machine Learning','Haddop','Spark')

for data in enumerate(Data,500): #now indexinx start from 500
    print(list(data))

[500, 'Big Data']
[501, 'Machine Learning']
[502, 'Haddop']
[503, 'Spark']

In [30]:
Data = ('Big Data','Machine Learning','Haddop','Spark')

for indx,data in enumerate(Data,500): #now indexinx start from 500
    print(indx,data)

500 Big Data
501 Machine Learning
502 Haddop
503 Spark

# len()
Finding the length of list

In [31]:
PyList = (1,2,3,4,5)
print(len(PyList))

5

# tuple()
Converting to tuple Data type

In [32]:
PyStr = "PYTHON"

print(PyStr)
print(type(PyStr))

Pytuple = tuple(PyStr)

print(PyList)
print(type(PyList))

PYTHON
<class 'str'>
(1, 2, 3, 4, 5)
<class 'tuple'>

# max()
It is used to display max character based on ascii or Unicode value

In [34]:
PyTuple=(1,2,3,4)
print(max(PyTuple))

4

In [35]:
PyTuple=('a',"b",'c','D')
print(max(PyTuple))

c

# min() 
It is used to display max character based on ascii or Unicode value

In [36]:
PyTuple=(1,2,3,4)
print(max(PyTuple))
PyTuple=('a',"b",'c','D')
print(max(PyTuple))

4
c

# sum() 
It is used to sum of all values in the list NOTE: only for numerical values

In [37]:
PyTuple=(1,2,3,4,5)
print(sum(PyTuple))

15